<style>
.account-details {
  width: 99%;
}

.account-details tr {
  line-height: 50px;
}

.new_account {
  float: right;
  margin-top: 10px;
}

.account-details-data {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  text-align: left;
  padding-left: 5px;
}

.account-details th {
  width: 15%;
}

</style>



<table class='account-details'>

  <tr>
    <th>Account #:</th>
    <td class="account-details-data"><%=(@account.account_number.to_s rescue 'N/A')%></td>
  </tr>

  <tr>
    <th>Member name:</th>
    <td class="account-details-data"><%=@patient_obj.given_name%>&nbsp;<%=@patient_obj.family_name%></td>
  </tr>


  <tr>
    <th>Effective date:</th>
    <td class="account-details-data"><%=(@account.effective_date.strftime('%A, %d/%B/%Y') rescue 'N/A')%></td>
  </tr>

  <tr style="border-width: 1px 0px 0px 0px; border-style: solid;">
    <td colspan='2'>
      <%if @account.blank?%>
        <button class='btn btn-success new_account' onclick="document.location='/account_new/<%=params[:patient_id]%>'">Create account</button>
      <%else%>
        <button class='btn btn-primary new_account' onclick="document.location='/account_new/<%=params[:patient_id]%>'">Edit account</button>
      <%end%>
      <!--button style="float: left;" class='btn btn-success new_account' onclick="document.location=
        '/patient_dashboard/<%=params[:patient_id]%>/0'">Continue to patient dashboard</button-->
    </td>
  </tr>



</table>
